<div class="max-w-7xl mx-auto p-4">
  <!-- Title and Journal Entry -->
  <div class="flex items-baseline p-4">
    <a
      class="text-xs font-light text-blue-600 underline hover:text-blue-800 cursor-pointer"
      [routerLink]="['/maps']"
      >Yours maps >
    </a>
    <a
      class="text-xs font-light text-blue-600 underline hover:text-blue-800 cursor-pointer"
      [routerLink]="['/markers', mapId]"
      >{{ mapTitle }} >
    </a>
    <h1 class="text-6xl font-bold p-2">
      {{ marker().title }}
    </h1>
  </div>
  <!-- <div class="mb-6 relative">
    <h1 class="text-4xl font-semibold text-gray-800">{{ marker().title }}</h1>
  </div> -->
  <p class="break-words">
    @if (marker().journal) {
    {{ marker().journal }}
    }
  </p>
  <button
    *ngIf="marker().journal"
    (click)="isJournalEntryDialogOpen.set(!isJournalEntryDialogOpen())"
    class="text-sm text-blue-600 underline hover:text-blue-800 cursor-pointer"
  >
    Manage journal entry
  </button>
  <app-image-upload [mapId]="mapId" [markerId]="markerId"></app-image-upload>

  <!-- Dropdown and Grid Container -->

  <!-- Image Grid Section -->
  <div class="mt-6 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4">
    @for (image of images(); track $index) {

    <div class="relative">
      <app-dropdown
        [config]="dropdownConfig"
        class="absolute right-1 top-1"
        (optionSelected)="onDropdownOptionSelected($event, $index)"
      >
      </app-dropdown>

      @if (image.legend) {
      <app-button
        [config]="displayCaptionButtonConfig"
        (btnClick)="handleClick($index)"
        class="absolute left-1 top-1"
      ></app-button>
      }

      <img
        [src]="image.url"
        (click)="isLightboxOpen.set(true)"
        [alt]="image.legend"
        class="w-full h-auto shadow-lg hover:shadow-xl transition-shadow duration-300 cursor-pointer"
      />
    </div>
    } @empty {
    <p>🗺 Click to add image 👈</p>
    }
  </div>
</div>

<app-dialog
  #deleteImageDialog
  [dialogConfig]="deleteDialogConfig"
  [open]="isDeleteDialogOpen()"
  (dialogClosed)="onDeleteDialogClosed($event)"
>
  <app-warning-banner
    [warningText]="'Are you sure? This action is irreversible.'"
  ></app-warning-banner>
</app-dialog>

<app-dialog
  #addCaptionDialog
  [dialogConfig]="addCaptionDialogConfig"
  [open]="isAddCaptionDialogOpen()"
  (dialogClosed)="saveCaption()"
>
  <input
    [formControl]="addCaptionFormControl"
    type="text"
    placeholder="Say something about this image..."
    class="w-100 p-4 border border-zinc-300"
  />
</app-dialog>

<app-dialog
  #displayCaptionDialog
  [dialogConfig]="displayCaptionDialogConfig"
  [open]="isDisplayCaptionDialogOpen()"
>
  <i>{{
    focusedImagedIndex() !== null && images()[focusedImagedIndex()!].legend
  }}</i>
</app-dialog>

<app-dialog
  #addJournalEntryDialog
  [dialogConfig]="addJournalEntryDialogConfig"
  [open]="isJournalEntryDialogOpen()"
  (dialogClosed)="addJournalEntry($event)"
>
  <textarea
    [formControl]="addJournalEntryFormControl"
    [value]="addJournalEntryFormControl.value"
    placeholder="Say something about this marker..."
    class="w-full p-2 border rounded-md"
    rows="4"
    >{{ addJournalEntryFormControl.value }}</textarea
  >
</app-dialog>

<!-- open is controlled from outside because of the event handlers on the lightbox -->
@if (isLightboxOpen()) {
<app-lightbox
  [images]="images()"
  [lightboxConfig]="lightboxConfig"
  (close)="isLightboxOpen.set(false)"
></app-lightbox>
}
