<section class="flex flex-col h-full p-2">
  <!-- no journal and no images -->
  <ng-content *ngIf="!marker().journal && images().length === 0">
    <ng-content *ngTemplateOutlet="noJournalOrImages"></ng-content>
  </ng-content>

  <ng-template #noJournalOrImages>
    <div class="flex flex-col justify-center items-center">
      <ng-content *ngTemplateOutlet="breadcrumbs"></ng-content>
      <!-- desktop -->
      <div class="hidden md:flex">
        <app-button [config]="addJournalEntryButtonConfig" (btnClick)="isJournalEntryDialogOpen.set(!isJournalEntryDialogOpen())"></app-button>
        <app-image-upload [atlasId]="atlasId" [markerId]="markerId" class="ml-2"></app-image-upload>
      </div>
      <!-- mobile -->
      <div class="flex md:hidden">
        <app-button [config]="addJournalEntryMobileButtonConfig" (btnClick)="isJournalEntryDialogOpen.set(!isJournalEntryDialogOpen())"></app-button>
        <app-image-upload [atlasId]="atlasId" [markerId]="markerId" class="ml-2"></app-image-upload>
      </div>
    </div>
    <ng-content *ngTemplateOutlet="missingThingsEmoji; context: { text: 'You don\'t have any images or journal entry yet.' }"></ng-content>
  </ng-template>

  <!-- images but no journal -->
  <ng-content *ngIf="!marker().journal && images().length > 0">
    <div class="flex flex-col justify-center items-center">
      <ng-content *ngTemplateOutlet="breadcrumbs"></ng-content>
      <div class="flex">
        <app-button [config]="addJournalEntryButtonConfig" (btnClick)="isJournalEntryDialogOpen.set(!isJournalEntryDialogOpen())"></app-button>
        <app-image-upload [atlasId]="atlasId" [markerId]="markerId" class="ml-2"></app-image-upload>
      </div>
    </div>
    <ng-content *ngTemplateOutlet="onlyImages"> </ng-content>
  </ng-content>

  <ng-template #onlyImages>
    <ng-content *ngTemplateOutlet="imageGrid"></ng-content>
  </ng-template>

  <!-- journal but no images -->
  <ng-content *ngIf="marker().journal && images().length === 0">
    <ng-content *ngTemplateOutlet="onlyJournal"></ng-content>
  </ng-content>

  <ng-template #onlyJournal>
    <ng-content *ngTemplateOutlet="breadcrumbs"></ng-content>
    <ng-content *ngTemplateOutlet="journal"></ng-content>
  </ng-template>

  <!-- journals and images -->
  <ng-content *ngIf="marker().journal && images().length > 0">
    <ng-content *ngTemplateOutlet="journalAndImages"></ng-content>
  </ng-content>

  <ng-template #journalAndImages>
    <ng-content *ngTemplateOutlet="breadcrumbs"></ng-content>
    <ng-content *ngTemplateOutlet="journal"></ng-content>
    <ng-content *ngTemplateOutlet="imageGrid"></ng-content>
  </ng-template>
</section>

<!-- templates -->

<ng-template #breadcrumbs>
  <div id="breadcrumbs" class="mt-6 mb-6 self-baseline">
    <a class="text-sm font-medium text-blue-600 underline hover:text-blue-900 cursor-pointer" [routerLink]="['/list']">Your maps > </a>
    <a class="text-sm font-medium text-blue-600 underline hover:text-blue-900 cursor-pointer" [routerLink]="['/markers', atlasId]">{{ atlasTitle }} > </a>
    <h1 class="text-6xl font-bold">
      {{ marker().title }}
    </h1>
  </div>
</ng-template>

<ng-template #journal>
  <div id="journal" class="mt-6 mb-6 flex flex-col items-center gap-5">
    <p class="break-anywhere text-justify">
      @if (marker().journal) {
      {{ marker().journal }}
      }
    </p>
    <button *ngIf="marker().journal" (click)="isJournalEntryDialogOpen.set(!isJournalEntryDialogOpen())" class="text-sm text-blue-600 underline hover:text-blue-800 cursor-pointer">
      Manage journal entry
    </button>
    <app-image-upload [atlasId]="atlasId" [markerId]="markerId"></app-image-upload>
  </div>
</ng-template>

<!-- Image Grid Section -->
<ng-template #imageGrid>
  <div class="relative flex flex-col mt-6 mb-3 pb-3">
    <div class="images-container">
      @for (image of images(); track $index) {

      <div class="relative mb-5">
        @if(images().length > 0){
        <app-dropdown [config]="dropdownConfig" class="absolute right-1 top-1" (optionSelected)="onDropdownOptionSelected($event, $index)"> </app-dropdown>

        @if (image.legend) {
        <app-button [config]="displayCaptionButtonConfig" (btnClick)="onLegendButtonClicked($index)" class="absolute left-1 top-1"></app-button>
        }

        <img
          [src]="image.url"
          (click)="onImageClicked($index)"
          [alt]="image.legend"
          class="w-full h-auto shadow-lg hover:shadow-xl transition-shadow duration-300 cursor-pointer"
        />
        }
      </div>
      }
    </div>
  </div>
</ng-template>

<ng-template #missingThingsEmoji let-text="text">
  <div class="flex-2 flex flex-col justify-center text-center">
    <p class="text-3xl m-6">¯\_(ツ)_/¯</p>
    <p class="text-zinc-800 text-lg m-3">
      {{ text }}
    </p>
  </div>
</ng-template>

<app-dialog #deleteImageDialog [dialogConfig]="deleteDialogConfig" [open]="isDeleteDialogOpen()" (dialogClosed)="onDeleteImageDialogClosed($event)">
  <app-warning-banner [warningText]="'Are you sure? This action is irreversible.'"></app-warning-banner>
</app-dialog>

<app-dialog #addCaptionDialog [dialogConfig]="addCaptionDialogConfig" [open]="isAddCaptionDialogOpen()" (dialogClosed)="onAddCaptionDialogClose($event)">
  <input
    [formControl]="addCaptionFormControl"
    type="text"
    placeholder="Say something about this image..."
    class="w-full p-4 border"
    [ngClass]="{
      'border-red-700': addCaptionFormControl.dirty && !addCaptionFormControl.valid,
      'border-zinc-300': addCaptionFormControl.valid
    }"
  />
  @if (addCaptionFormControl.dirty && addCaptionFormControl.hasError('required')) {
  <div class="text-red-700 font-medium mt-2">A name is required</div>
  }
</app-dialog>

<app-dialog
  #displayCaptionDialog
  [dialogConfig]="displayCaptionDialogConfig"
  [open]="isDisplayCaptionDialogOpen()"
  (dialogClosed)="isDisplayCaptionDialogOpen.set(!this.isDisplayCaptionDialogOpen())"
>
  <i>{{ focusedImagedIndex() !== null && images()[focusedImagedIndex()!].legend }}</i>
</app-dialog>

<app-dialog #addJournalEntryDialog [dialogConfig]="addJournalEntryDialogConfig" [open]="isJournalEntryDialogOpen()" (dialogClosed)="onAddJournalEntryDialogClosed($event)">
  <textarea
    [formControl]="addJournalEntryFormControl"
    [value]="addJournalEntryFormControl.value"
    placeholder="Say something about this marker..."
    class="w-full p-2 border rounded-md"
    rows="4"
    >{{ addJournalEntryFormControl.value }}</textarea
  >
</app-dialog>

<!-- open is controlled from outside because of the event handlers on the lightbox -->
@if (isLightboxOpen()) {
<app-lightbox [images]="images()" [lightboxConfig]="lightboxConfig()" (close)="isLightboxOpen.set(false)"></app-lightbox>
}
