<section class="flex flex-col h-full p-2 md:w-3/4 md:m-auto md:gap-8">
  <ng-content *ngTemplateOutlet="breadcrumbs"></ng-content>

  <div class="hidden md:flex justify-end">
    <app-button [config]="addJournalEntryButtonConfig"
      (btnClick)="isJournalEntryDialogOpen.set(!isJournalEntryDialogOpen())"></app-button>
    <ng-container
      *ngTemplateOutlet="imageUpload, context: {buttonConfig: null, styling: 'hidden md:flex ml-2', isDesktop: true}"></ng-container>
  </div>

  <ng-content *ngTemplateOutlet="journal"></ng-content>
  <app-image-gallery *ngIf="images().length > 0" [images]="images()"
    (optionSelected)="onDropdownOptionSelected($event.optionIndex, $event.imageIndex)"
    (btnClick)="onLegendButtonClicked($event)" (imageClicked)="onImageClicked($event)"></app-image-gallery>

  <app-button class="flex fixed z-1 bottom-8 right-10 md:hidden" [config]="addJournalEntryMobileButtonConfig"
    (btnClick)="isJournalEntryDialogOpen.set(!isJournalEntryDialogOpen())"></app-button>
  <ng-container [ngTemplateOutlet]="imageUpload"
    [ngTemplateOutletContext]="{buttonConfig: uploadImagesMobileButtonConfig, styling: 'flex md:hidden', isDesktop: false}"></ng-container>


  <app-no-items *ngIf="!marker().journal && images().length === 0"
    [noItemsText]="'There is nothing to see here yet.'"></app-no-items>

  <!-- templates -->

  <ng-template #imageUpload let-buttonConfig="buttonConfig" let-styling="styling" let-isDesktop="isDesktop">
    <app-image-upload [ngClass]="styling" [buttonConfig]="buttonConfig" [isDesktop]="isDesktop" [atlasId]="atlasId"
      [markerId]="markerId"></app-image-upload>
  </ng-template>

  <ng-template #breadcrumbs>
    <div id="breadcrumbs" class="mt-6 mb-6 self-center text-center md:self-end md:text-end">
      <a class="block mb-4 text-md font-medium text-blue-600 underline hover:text-blue-900 cursor-pointer"
        [routerLink]="['/list']">Your maps</a>
      <button class="mb-4 text-md font-medium text-blue-600 underline hover:text-blue-900 cursor-pointer"
        (click)="this.location.back()">{{ atlasTitle }}</button>
      <h1 class="text-6xl font-bold">
        {{ marker().title }}
      </h1>
    </div>
  </ng-template>

  <ng-template #journal>
    <div id="journal" *ngIf="marker().journal" class="mt-6 mb-6 flex flex-col items-center gap-5">
      <p class="text md break-anywhere text-justify md:text-xl">
        {{ marker().journal }}
      </p>
    </div>
  </ng-template>


  <app-dialog #deleteImageDialog [dialogConfig]="deleteDialogConfig" [open]="isDeleteDialogOpen()"
    (dialogClosed)="onDeleteImageDialogClosed($event)">
    <app-warning-banner [warningText]="'Are you sure? This action is irreversible.'"></app-warning-banner>
  </app-dialog>

  <app-dialog #addCaptionDialog [dialogConfig]="addCaptionDialogConfig" [open]="isAddCaptionDialogOpen()"
    (dialogClosed)="onAddCaptionDialogClose($event)">
    <input [formControl]="addCaptionFormControl" type="text" placeholder="Say something about this image..."
      class="w-full p-4 border" [ngClass]="{
        'border-red-700': addCaptionFormControl.dirty && !addCaptionFormControl.valid,
        'border-zinc-300': addCaptionFormControl.valid
      }" />
    @if (addCaptionFormControl.dirty && addCaptionFormControl.hasError('required')) {
    <div class="text-red-700 font-medium mt-2">A name is required</div>
    }
  </app-dialog>

  <app-dialog #displayCaptionDialog [dialogConfig]="displayCaptionDialogConfig" [open]="isDisplayCaptionDialogOpen()"
    (dialogClosed)="isDisplayCaptionDialogOpen.set(!this.isDisplayCaptionDialogOpen())">
    <i>{{ focusedImagedIndex() !== null && images()[focusedImagedIndex()!].legend }}</i>
  </app-dialog>

  <app-dialog #addJournalEntryDialog [dialogConfig]="addJournalEntryDialogConfig" [open]="isJournalEntryDialogOpen()"
    (dialogClosed)="onAddJournalEntryDialogClosed($event)">
    <textarea [formControl]="addJournalEntryFormControl" [value]="addJournalEntryFormControl.value"
      placeholder="Say something about this marker..." class="w-full p-2 border rounded-md"
      rows="4">{{ addJournalEntryFormControl.value }}</textarea>
  </app-dialog>

  <!-- open is controlled from outside because of the event handlers on the lightbox -->
  @if (isLightboxOpen()) {
  <app-lightbox [images]="images()" [lightboxConfig]="lightboxConfig()"
    (close)="isLightboxOpen.set(false)"></app-lightbox>
  }
</section>