<div class="relative">
  <!-- Dropdown Trigger Button -->
  <button
    (click)="isDropdownOpen = !isDropdownOpen"
    class="px-4 py-2 bg-blue-500 text-white rounded-md"
    cdkOverlayOrigin
    #trigger="cdkOverlayOrigin"
  >
    {{ config().buttonText }}
  </button>

  <!-- Dropdown Menu (CDK Overlay) -->
  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="isDropdownOpen"
    [cdkConnectedOverlayHasBackdrop]="false"
    (backdropClick)="isDropdownOpen = !isDropdownOpen"
  >
    <div class="mt-2 w-48 bg-white border border-gray-300 rounded shadow-md">
      <ul class="py-2 text-gray-700">
        @for (option of config().options; track $index) {
        <li
          (click)="selectedOption.emit(option.index)"
          class="px-4 py-2 hover:bg-gray-100 cursor-pointer"
        >
          {{ option.label }}
        </li>

        }
      </ul>
    </div>
  </ng-template>
</div>
