<section class="max-w-6xl mx-auto p-6">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-6xl font-bold">{{ map?.title || "Untitled map 🤦‍♂️" }}</h1>
    <div class="flex gap-2">
      <app-button
        [config]="goToMapButtonConfig"
        (btnClick)="
          router.navigate(['atlas', this.mapId], {
            queryParams: { mapMode: 'move' }
          })
        "
      ></app-button>
      <app-button
        [config]="addMarkerButtonConfig"
        (btnClick)="
          router.navigate(['atlas', mapId], {
            queryParams: { mapMode: 'add' }
          })
        "
      ></app-button>
    </div>
  </div>
  <div class="container mx-auto p-4">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-2 gap-4"
    >
      @for (item of markers(); track $index) {
      <app-card
        [cardConfig]="{
          title: item.title,
          subtitle: item.startDate ?? item.endDate ?? item.createdAt
        }"
        (click)="
          router.navigate(['markers', mapId, 'marker', item.markerId, 'detail'])
        "
      ></app-card>
      } @empty {
      <h1>No markers yet 🤷‍♂️</h1>
      }
    </div>
  </div>
</section>
