<p class="dots">Fetching your images</p>
<div class="images-container" #imagesContainer>


  @for (image of groupedImages(); track $index) {

  <div class="relative mb-5">
    <app-dropdown [config]="dropdownConfig" class="absolute left-1 top-1"
      (optionSelected)="optionSelected.emit({optionIndex: $event, imageIndex: $index})"></app-dropdown>
    <app-button [config]="displayCaptionButtonConfig" class="absolute left-10 top-1"
      (btnClick)="btnClick.emit($index)"></app-button>
    <div #imageContainer></div>
  </div>
  }

</div>

<app-lightbox [open]="isLightboxOpen()" (close)="onClose()" (updateIndex)="updateFocusedImageIndex($event)">
  <div #injectImage class="w-8/10"></div>
</app-lightbox>