<div class="max-w-sm mx-auto">
  <!-- Select Dropdown -->
  <select data-testid="select-component" [ngModel]="selectedOption" (ngModelChange)="onSelect($event)"
    class="block w-full p-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-blue-500">
    <option [value]="" disabled>Select an option</option>
    <option [label]="option.title" *ngFor="let option of options()" [value]="option.value">
      {{ option.title }}
    </option>
  </select>

  @if (selectedOption) {
  <app-warning-banner [warningText]="'Deleting this item is an irreversible action!'"></app-warning-banner>

  }
</div>