<!-- Dialog (Modal) -->
@if (open()){
<div class="fixed inset-0 flex items-center justify-center bg-zinc-900/90 p-2 z-10">
  <div class="flex flex-col items-center justify-center text-center bg-white rounded-lg shadow-lg max-w-lg w-full p-6 md:p-10 relative">
    <!-- Dialog Header -->
    <div class="m-3">
      <h2 class="text-2xl md:text-3xl font-bold text-zinc-800">
        {{ dialogConfig().title }}
      </h2>
    </div>

    <!-- Dialog Body -->
    <div class="w-full" #dialogBody tabindex="-1">
      <ng-content></ng-content>
    </div>

    <!-- Dialog Footer -->
    <div class="mt-6 flex justify-center gap-4">
      <app-button [config]="dialogConfig().secondaryActionButtonConfig" (btnClick)="cancelAction()"></app-button>

      @if (dialogConfig().primaryActionButtonConfig !== null && dialogConfig().primaryActionButtonConfig !==undefined) {
      <app-button [config]="fetchPrimaryActionButtonConfig()" (btnClick)="confirmAction()"></app-button>
      }
    </div>
  </div>
</div>

}
