<!-- Dialog (Modal) -->
@if (open()){
<div class="fixed inset-0 flex items-center justify-center bg-zinc-900/90">
  <div class="bg-white rounded-lg shadow-lg max-w-md w-full p-6 relative">
    <!-- Dialog Header -->
    <div class="flex justify-between items-center pb-3">
      <h2 class="text-xl font-semibold text-zinc-800">
        {{ dialogConfig().data.title }}
      </h2>
    </div>

    <!-- Dialog Body -->
    <div class="mt-4">
      <ng-content></ng-content>
    </div>

    <!-- Dialog Footer -->
    <div class="mt-6 flex justify-end space-x-2">
      <app-button
        [config]="dialogConfig().secondaryActionButtonConfig"
        (click)="cancelAction()"
      ></app-button>
      <app-button
        [config]="dialogConfig().primaryActionButtonConfig"
        (click)="confirmAction()"
      ></app-button>
    </div>
  </div>
</div>

}
