<!-- Dialog (Modal) -->
@if (isDialogOpen()){
<div
  class="fixed inset-0 flex items-center justify-center bg-gray-900 opacity-90 z-1"
>
  <div class="bg-white rounded-lg shadow-lg max-w-md w-full p-6 relative">
    <!-- Dialog Header -->
    <div class="flex justify-between items-center border-b pb-3">
      <h2 class="text-xl font-semibold">Dialog Title</h2>
      <button
        (click)="dialogClosed.emit()"
        class="text-gray-600 hover:text-gray-900"
      >
        &times;
      </button>
    </div>

    <!-- Dialog Body -->
    <div class="mt-4">
      <p class="text-gray-700">
        <ng-content></ng-content>
      </p>
    </div>

    <!-- Dialog Footer -->
    <div class="mt-6 flex justify-end space-x-2">
      <button
        (click)="dialogClosed.emit()"
        class="px-4 py-2 bg-gray-300 text-gray-800 rounded-md"
      >
        Cancel
      </button>
      <button
        (click)="confirmAction()"
        class="px-4 py-2 bg-blue-500 text-white rounded-md"
      >
        Confirm
      </button>
    </div>
  </div>
</div>

}
