.grid-layout {
    display: grid;
    grid-template-rows: 100px calc(100vh - 100px);
    grid-template-columns: 1fr;
    height: 100vh;
  }
  .navbar {
    grid-row: 1 / 2;
  }
  .app {
    grid-row: 2 / 3;
  }
  .footer {
    grid-row: 3 / 4;
  }