/* :host {
    display: block;
    height: 100vh;
} */

.grid-layout {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Navbar, content, and footer */
    grid-template-columns: 1fr; /* Single column */
    height: 100vh; /* Full viewport height */
  }
  .navbar {
    grid-row: 1 / 2;
    padding: 4rem;
  }
  .content {
    grid-row: 2 / 3;
    padding: 2rem;
  }
  .footer {
    grid-row: 3 / 4;
    padding: 1rem;
    text-align: center;
  }