<section class="grid-layout">
  <app-navbar></app-navbar>

  <!-- Content Container -->
  <div class="app">
    @if (loaderService.isLoaderVisible()) {
    <div
      class="fixed top-0 left-0 w-full h-full bg-black opacity-75 flex items-center justify-center z-1"
    >
      <div class="loader"></div>
    </div>
    }
    <router-outlet />
  </div>

  <!-- Footer -->
  <!-- <footer class="footer bottom-0 border-t-2 p-2 border-zinc-200 w-full">
    <div
      class="container mx-auto font-semibold flex flex-row justify-between items-center"
    >
      <span class="text-sm right-100">Made with ❤ by me</span>
      <span class="text-sm"> © 2025 CloudAtlas. All rights reserved. </span>
    </div>
  </footer> -->
</section>
