<router-outlet />
<h1>You have {{ mapsStore.mapsCount() }} maps</h1>

@for (map of mapsStore.mapsIterable(); track $index) {

<div>
  <p>{{ map.mapId }}</p>
  <button (click)="mapsStore.deleteMap({ mapId: map.mapId })">Delete</button>
</div>
<div>
  <p>{{ map.title }}</p>
  <input type="text" #mapTitle />
  <button
    (click)="
      mapsStore.updateMap({ mapId: map.mapId, data: { title: mapTitle.value } })
    "
  >
    Update
  </button>
</div>
}

<hr />
<h1>Create Map</h1>
<input type="text" #newMapTitle />
<button (click)="mapsStore.createMap({ title: newMapTitle.value })">
  New Map
</button>
