<router-outlet />
<h1>You have {{ appStore.mapsCount() }} maps</h1>

@for (map of appStore.mapsIterable(); track $index) {

<div>
  <p>{{ map.mapId }}</p>
  <button (click)="appStore.deleteMap({ mapId: map.mapId })">Delete map</button>
  <button
    (click)="
      appStore.updateMap({ mapId: map.mapId, data: { title: mapTitle.value } })
    "
  >
    Update map
  </button>
</div>
<div>
  <p>{{ map.title }}</p>
  <input type="text" #mapTitle />
  <button (click)="appStore.loadMarkers({ mapId: map.mapId })">
    Load Markers
  </button>
</div>
}

<hr />
<h1>Create Map</h1>
<input type="text" #newMapTitle />
<button (click)="appStore.createMap({ title: newMapTitle.value })">
  New Map
</button>

<hr />
<h1>Create marker</h1>
<label for="lat"
  >Lat
  <input #lat type="number" name="lat" />
</label>
<label for="long"
  >Long
  <input #lng type="number" name="lng" />
</label>
title<input #title type="text" /> journal<input #journal type="text" />
mapId<input #mapId type="text" />

<button (click)="createMarkers()">New Markers</button>
<button (click)="deleteMarkers()">Delete Markers</button>
<button (click)="updateMarker()">Update Marker</button>

<hr />
<h1>Images</h1>

<button (click)="getImagesForMarker()">Get Images</button>
