<nav class="bg-white font-semibold p-4 navbar">
  <div class="container mx-auto flex items-center justify-between">
    <!-- Logo -->
    <a routerLink="/">
      <img class="w-24 md:w-32 lg:w-34" src="/assets/logo.svg" alt="logo" />
    </a>

    <!-- Menu items for large screens -->
    <div class="space-x-6">
      @if(auth.isAuthenticated()){
      <a routerLink="maps" [class]="navItemCss">Your maps</a>
      <a (click)="auth.logout()" [class]="navItemCss">Logout</a>

      }@else {
      <a (click)="auth.login()" [class]="navItemCss">Login</a>
      <a routerLink="about" [class]="navItemCss">About</a>
      }
    </div>
  </div>
</nav>
